* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    html, body {
      height: 100%;
      width: 100%;
    }

    #main {
      width: 100%;
      height: 270%;
      background-image: url('img2.png');
    }

    #nav {
      height: 80px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
   
    }

    #nav h1 {
      font-size: 20px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
    }

    #nav>i {
      font-size: 20px;
      padding: 0 10px;
    }

    #nav-pts {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      justify-content: center;
    }

    #nav h5 {
      font-size: 15px;
      font-weight: 500;
    }

    #nav img {
      height:70px;
    }

    .remain {
      display: flex;
      flex-wrap: wrap;
      padding: 40px 20px;
    }

    #left, #center, #right {
      flex: 1 1 300px;
      padding: 20px;
    }

    #left h1 {
      font-size: 40px;
    }

    #left span {
      color: #dd6666;
    }

    #left p {
      font-size: 14px;
      color: #980505;
    }

    .p1 {
      text-align: right;
    }

    #left button {
      padding: 10px 20px;
      background-color: #f59494;
      border: none;
      margin: 60px;
      border-radius: 50px;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }

    #center img {
      width: 100%;
      height: auto;
    }

    .r1 {
      border-bottom: 2px solid #dd6666;
      margin-bottom: 20px;
    }

    .r1 h3, .r1 h2 {
      font-size: 18px;
      font-weight: 600;
    }

    .r1 i {
      font-size: 18px;
      float: right;
    }

    .r1 p {
      font-size: 14px;
      color: #333;
      margin-top: 10px;
    }

    #why-sofy {
      padding: 30px 20px;
      background-color: #fff0f0;
      margin: 20px 0;
      width: 100%;
      border-top: 2px solid #f59494;
    }
     #eco-promise{
        padding: 30px 20px;
      background-color: #fff0f0;
      margin: 20px 0;
      width: 100%;
      border-top: 2px solid #f59494;
     }
    #why-sofy h2  {
      color: #dd6666;
      margin-bottom: 15px;
    }
    #eco-promise h2{
         color: #dd6666;
      margin-bottom: 15px;
    }
    #why-sofy ul {
      padding-left: 0;
    }

    #why-sofy ul li {
      margin-bottom: 10px;
      font-size: 16px;
      color: #980505;
    }

    #eco-promise p {
      font-size: 15px;
      max-width: 700px;
      color: #980505;

    }
    .card-block{
      width: 100%;
      margin-top: 0;
      border-top: #f59494;
      background-image: url('img2.png');
      text-align: center;
    }
    .card-block h2{
      color: #dd6666;
      font-size: 28px;
      margin-bottom: 30px;
    }
    .inside-card{
      display: flex;
      justify-content: center;
      gap: 70px;
    }
    .cards{
      background-color: #f1bfbf;
      width: 300px;
      border-radius: 20px;
      overflow: hidden;
      transition: all 0.3s ease;
    
    }
    .cards:hover{
      transform: translateY(-10px); 
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  background-color: #c96d937b;
    }
    .cards img{
      width: 100%;
      height: 200px;
      object-fit: contain;
      background-color: #fff0f0;
      padding: 10px;
    
    }
    .cards h3{
      font-size: 18px;
      color: #980505;
      padding: 15px 20px;
      line-height: 2;
    }
    @media
     (max-width: 700px) {
      #left h1 {

        font-size: 30px;
      }

      #nav-pts {
        flex-direction: column;
        gap: 10px;
      }
      #nav h5{
       display: none;
      }

      .footernav ul{
        flex-direction: column;
      }
      .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
      }
    }
  .footer{
    border: 2px solid #dd6666;
    background-color: #f2a8a8d5;
    padding-top:0px;
    margin-top: 0;
  }
  .icons{
    display: flex;
    justify-content: center;
  }
  .icons a{
    text-decoration: none;
    margin: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color:#f0e8e8;
  
  }
  .icons a i{
    font-size: 32px;
    padding: 10px;
    color:#dd6666;
    opacity: 0.9;
    transition: 0.5s;
  }
   .icons a i:hover{
   opacity: 1;
   color: #d82d2d;
   transition: 0.3s;

   }
   .footernav{
    margin: 20px;
   }
   .footernav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: large;
   }
   .footernav ul li{
    display: flex;
    justify-content: space-between;
    gap: 30px;
   }
   .footernav ul li a{
    text-decoration: none;
    color:#dd6666;
    margin: 30px;  
    width: 90px;
    transition: 0.5s;
   }
 .footernav ul li :hover{
  opacity: 01;
  color:#fff4f4;
  transition: 0.3s;
  width:100px ;

 }
 .logo{
padding: 30px 0px;
 }
 .footer-copy{
  display: flex;
  align-items: center;
  justify-content: center;
  color:#dd6666;
 }
 